body {
  margin: 0;
  padding: 0;
  cursor: url('/src/assets/images/cursor.png'), auto;
  background-color: #CDBFE0;
}

a:hover {
  cursor: url('/src/assets/images/pointer.png'), auto;
}

.nav-scrolled {
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -2px rgba(0,0,0,0.1);
  color: #1a202c;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

html {
  -ms-overflow-style: none;
}